.course-desc-wrapper {
  display: flex;
  flex-direction: column;
  border-top: solid 2px;
  border-bottom: solid 2px;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
}

.course-desc-button {
  align-self: end;
}
